<h1>Submit Post</h1>

<form method="POST" action="/new-post">
	<div>
		Title: <input type="text" name="title" required minlength="10"/>
	</div>
	<div>
		Description: <input type="text" name="description"/>
	</div>

	<div>
		Url: <input type="text" name="url"/>
	</div>

	<div>
		Image Url: <input type="text" name="image"/>
	</div>
	<button type="submit">Submit Post</button>
</form>
