.post {
	border: 1px solid #cecece;
	padding: 10px;
}
.img {
	width: 80px;
}
footer {
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #cecece;
	text-align: center;
}
.voting {
	margin-bottom: 2px;
}
header {
	background-color: #000;
	color: #fff;
}
header a {
	color: #fff;
	margin: 0 10px;
}
header a:hover {
	color: #fff;
}
header a:focus {
	color: #fff;
}
